#content {

    margin-top: 3%;
    margin-bottom: 10%;
}


#auswertungTitel {
    text-align: center;
}

#auswertung {

    border: solid;
    border-radius: 8px;
    border-color: white
}

body{
    color: rgb(255, 255, 255);
    font-family: arial;
   
}

table, th, td { text-align: end; }

table { 
  
    color: rgb(0, 0, 0);
    cursor: pointer;
        background-color: gray; 
        border-spacing: 0px;
        border-collapse: separate;
        padding-right: 250px;
        width: 100%;
        position: relative; 
    }


#grid { font-size: 20px;   }

#middleCol {
    margin-left: 10px; 
    margin-right: 25px;
}




.leftText{
    text-align: left;
}

.centerText{
    text-align: center;
}

.rightText{
    text-align: right;
}

caption { text-align: left; }

#titel {
    text-align: center;
}

.danger {
    color: rgb(255, 91, 91);
  }
  
  .danger:hover {
    background: #f44336;
    border-radius: 8px;
    color: white;
  }

#successTxt {
    display: none;
}

#failTxt {
    display: none;
}

#showSolution {

    cursor: pointer;
    height: 23px;
    width: 60px;
    margin-left: -3.5em;
    margin-right: 1.5em;
    position: relative;
    bottom: 0.2em;

}

#solutionTxt {
    border: solid 3px; border-color: rgb(226, 226, 226); margin-bottom: 10px; text-align: center;
}

#fieldSelect{
    text-align: center;
    margin-bottom: 10%;
}

#ergebnis {
    margin-bottom: 5%;
}

#rightCol{
   
    
    margin-bottom: 10px;
    border-bottom: dotted;
    border-color:rgb(255, 255, 255);
}


#divRunnedFields {
    
    padding-bottom: 8px;
    margin-bottom: 10px;
    border-bottom: dotted;
    border-color:rgb(255, 255, 255);
}


#resetbtn {
    position: relative; left: 15%
}

#schnellText {
    position: relative;
    left: 32px;
    
}

#fieldNumber {

    position: relative;
    left: 25px;

}
