/*Komplette Auswertungsliste*/
#auswertung {
    background-color: black;
    border: solid white;
    border-radius: 8px;
    bottom: 140px;
    position: relative;
    right: 10px;
    transform: scale(0.7);
}

/*Klasse, um Text in MITTIG abzubilden*/
.centerText {
    text-align: center;
}

/*Hintergrundbild*/
#completeContent {
    background-image: url('../files/MyWallpaper.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*Gesamter Containerinhalt*/
#containerContent {
    margin-top: 3%;
    position: relative;
}

/* UNKLAR, WO VERWENDET

.danger {
    color: rgb(255, 91, 91);
}
  
.danger:hover {
    background: #f44336;
    border-radius: 8px;
    color: white;
} */

/*Verbergung der Anzeige im Vorfeld, wenn Suche NICHT erfolgreich*/
#failTxt {
    display: none;
}

/*Geländekodierung*/
#fieldNumber {
    left: 25px;
    position: relative;
}

/*Ausgewählter Start-/Zielpunkt*/
#fieldSelect {
    margin-bottom: 10%;
    margin-top: 5%;
    text-align: center;
}

/*Fußzeile*/
#footer {
    position: relative; 
    z-index: +1; 
    background-color: rgba(0, 14, 2, 0.8);
    margin-top: 15%;
}

#infoTxt {
    position: relative;
    bottom: 25px;
}

/*Mail-Darstellung*/
#mail {
   color: white;
}

/*Hauptinhalt: Rasterbild, Konfiguration und Auswertung*/
#mainContent {
    height: 610px;
}

/*Übersicht*/
#overview {   
    border-bottom: dotted;
    border-color:rgb(255, 255, 255);
    margin-bottom: 10px;
}

/*Zurücksetzen-Button*/
#resetbtn {
    left: 15%;
    position: relative; 
}

/*Klasse, um Text RECHTS abzubilden*/
.rightText {
    text-align: end;
}

/*Durchlaufene Pfadfelder*/
#runnedFields {
    border-bottom: dotted;
    border-color:rgb(255, 255, 255);
    margin-bottom: 10px;
    padding-bottom: 8px;
}

/*Konfiguration*/
#settings {
    margin-left: 10px; 
    margin-right: 10px;
}

/*Suchbereich*/
#showSolution {
    bottom: 0.2em;
    cursor: pointer;
    height: 23px;
    left: 15px;
    margin-left: -3.5em;
    margin-right: 1.5em;
    position: relative;
    width: 60px;
}

/*Inhalt vom Suchstatus*/
#solutionTxt {
    border: groove;  
    margin-bottom: 10px; 
    text-align: center;
}

/*Verbergung der Anzeige im Vorfeld, wenn Suche erfolgreich*/
#successTxt {
    display: none;
}

/*Tabelle*/
table { 
    background-color: gray; 
    border: 2px solid black;
    border-collapse: separate;
    border-spacing: 0px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    padding-right: 250px;
    position: relative; 
    width: 100%;
 }

/*Darstellung der Geländekodierung im Raster*/
th, td { 
    text-align: end; 
}
